<!DOCTYPE html>
<html lang="en">
  <!-- head -->
  
  <%- include('../partials/head') %> 
  <body>
    <%- include('../partials/header') %> 

    <main>
      <section class="top-products">
      <div class="titleproducts"><h1 style="color: green;">Products</h1></div>
      <div class="createproduct">
      <% if (locals.isLogged) { %>
        <a href="/products/create"><button type="button" class="btn1"> Create</button></a>
      <% } %>
      </div>
      </section>
      <section class="filter-view">
      <div class="product-search" id="search">
        <form class="searchbar">
          <input type="text" placeholder="Search" />
          <i class="fa-solid fa-magnifying-glass"></i>
        </form>
      </div>
      
    </section>
    
    </main>

  <!-- Bottom Nav -->

    <%- include('../partials/bottomNav') %> 

  <!-- Footer -->

    <%- include('../partials/footer') %> 
  </body>
</html>
