  <!-- head -->
  <%- include('../partials/head') %> 
<body>
  <!-- header -->
  <%- include('../partials/header') %> 
  <main class="main-pc">
    <section class="section__container">
      <article class="section__product">
        <img src="./images/img-samsung-galaxy-s10.jpg">
        <div class="product__detail">
          <div class="detail1">
            <p>Samsung Galaxy S10 120GB Blue</p>
            <p class="price__detail">$90.000</p>
            <p class="free__shop">Free shipping</p>
          </div>
          <div class="quantity">
            <button type="button" class="btn1"><i class="fas fa-solid fa-plus"></i></button>
            <p>1</p>
            <button type="button" class="btn2"><i class="fas fa-solid fa-minus"></i></button>
          </div>
        </div>
        <div class="trash">
          <i class="fas fa-solid fa-trash-can"></i>
        </div>
      </article>
      <article class="section__product">
        <img src="./images/img-tv-samsung-smart.jpg">
        <div class="product__detail">
          <div class="detail1">
            <p>Samsung TV Smart 32 pulgadas</p>
            <p class="price__detail">$180.000</p>
            <p class="free__shop">Free shipping</p>
          </div>
          <div class="quantity">
            <button type="button" class="btn1"><i class="fas fa-solid fa-plus"></i></button>
            <p>1</p>
            <button type="button" class="btn2"><i class="fas fa-solid fa-minus"></i></button>
          </div>
        </div>
        <div class="trash">
          <i class="fas fa-solid fa-trash-can"></i>
        </div>
      </article>
      <article class="section__product">
        <img src="./images/PhotoSamsungIndex.jpg">
        <div class="product__detail">
          <div class="detail1">
            <p>Samsung Node 10 256GB Grey</p>
            <p class="price__detail">$ 120.000</p>
            <p class="free__shop">Free shipping</p>
          </div>
          <div class="quantity">
            <button type="button" class="btn1"><i class="fas fa-solid fa-plus"></i></button>
            <p>1</p>
            <button type="button" class="btn2"><i class="fas fa-solid fa-minus"></i></button>
          </div>
        </div>
        <div class="trash">
          <i class="fas fa-solid fa-trash-can"></i>
        </div>
      </article>
      <article class="section__product">
        <img src="./images/S22ultra4.jpeg">
        <div class="product__detail">
          <div class="detail1">
            <p>Samsung S22 Ultra 500GB Grey</p>
            <p class="price__detail">$ 256.000</p>
            <p class="free__shop">Free shipping</p>
          </div>
          <div class="quantity">
            <button type="button" class="btn1"><i class="fas fa-solid fa-plus"></i></button>
            <p>1</p>
            <button type="button" class="btn2"><i class="fas fa-solid fa-minus"></i></button>
          </div>
        </div>
        <div class="trash">
          <i class="fas fa-solid fa-trash-can"></i>
        </div>
      </article>
    </section>
    <section class="checkout">
      <div class="checkout_cupon">
        <h2 class="cupon_message">Do you have a cupon or a discount code?</h2>
        <div class="cupon_form">
          <input class="placeholder" type="number" placeholder="Enter the code" />
          <input class="apply" type="submit" value="Apply" />
        </div>
      </div>
      <div class="checkout_box">
        <div class="total">
          <h2 class="total_title">Total:</h2>
          <h2 class="total_price">$646</h2>
        </div>
        <input class="checkout_box_co" type="submit" value="Check out" />
        <input class="checkout_box_kb" type="submit" value="Keep on buying" />
        <input class="checkout_box_ec" type="submit" value="Empty cart" />
      </div>
      <div class="checkout_logo">
        <i class="fas fa-solid fa-user-shield"></i>
      </div>
    </section>
  </main>
  <!-- Bottom Nav -->
  <%- include('../partials/bottomNav') %> 
  <!-- footer -->
  <%- include('../partials/footer') %> 
</body>

</html>