<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Detail</title>
    <link rel="stylesheet" href="./css/productDetail.css">
    <script src="https://kit.fontawesome.com/d4dc869e85.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="container-header">
            <div class="header__burger">
                <i class="fa-solid fa-bars"></i>
            </div>
            <h1> ITLand</h1>
            <main class="main__input">
                <input type="text" placeholder="Search">
                <span class="main__input__icon"><i class="fa-solid fa-magnifying-glass"></i></span>
            </main>
            <div class="header__account">
                <a class="account__icon" href="#"><i class="fa-solid fa-user"></i></a>
                <a class="account" href="#"><p>My account</p></a>
            </div>
            <div class="container-header__cart">
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </div>
        <nav class="navegation">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Abount us</a></li>
                <li><a href="#"> Contact us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Cellphone > Apple > Iphone 14 Pro</h2>
        <section class="main__section__img">
            <div class="section__img__principal">
                <img src="img/iphone14pro.png" alt="">
            </div>
            <section class="section__img__others">
                <img src="img/segundafoto.png" alt="">
                <img src="img/tercerfoto.png" alt="">
                <img src="img/quintafoto.png" alt="">
            </section>
        </section>
        <section class="main__section__characteristics">
            <div class="name-price">
                <h4>Iphone 14 Pro</h4>
                <p class=" price">$ 1200</p></div>
            <div class="section__characteristics__memory">
                <button>128 GB</button>
                <button>256 GB</button>
                <button>512 GB</button>
            </div>
            <div class="section__characteristics__color">
                <!-- <button>Space Black</button>
                <button>Silver</button> -->
                <form  class="characteristics__color" action="#">
                    <!-- <label for="color">Choose a color</label> -->
                    <select name="Color" id="color">
                    <option value="color">--Choose a color--</option>
                    <option value="Black">Silver Black</option>
                    <option value="Silver">Silver</option>
                    </select>
                </form>
            </div>
            <div class="section__addCart">
                <button> Add to Cart</button>
                <i class="fa-regular fa-heart"></i>
            </div>
        </section>
        <section class="section__description">
            <h4>Description</h4>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                Sunt quaerat minima nam vero tenetur est cupiditate quas quibusdam 
                veritatis, soluta, mollitia cum! 
                Laborum maiores quam veritatis reiciendis odio repellendus. Animi.
            </p>
            <p><span class="description__freeshipping">Free Shipping!!</span></p>
        </section>
    </main>
    <section class="section__nav__mobile">
        <ul>
            <li><a href="#"><i class="fa-solid fa-house-chimney"></i>Home</a></li>
            <li><a href="#"><i class="fa-solid fa-magnifying-glass"></i>Search</a></li>
            <li><a href="#"><i class="fa-solid fa-cart-shopping"></i>Cart</a></li>
            <li><a href="#"><i class="fa-solid fa-heart"></i>Favorites</a></li>
            <li><a href="#"><i class="fa-solid fa-user"></i>Profile</a></li>
        </ul>

    </section>
    <footer>
        <p>
            Copyright© 2021-2022 Itland All rights reserved <br>
            Made with <i class="fa-solid fa-heart"></i> by ITland
        </p>
    </footer>
</body>
</html>