<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Detail</title>
    <link rel="stylesheet" href="./css/productDetail.css">
    <link rel="stylesheet" href="./css/bottomNav.css">
    <link rel="stylesheet" href="./css/footer.css">
    <link rel="stylesheet" href="./css/headerNav.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" /> 
    <script src="https://kit.fontawesome.com/d4dc869e85.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="container-header">
          <div class="header__burger">
            <i class="fa-solid fa-bars"></i>
          </div>
          <div class="title_and_logo">
          <img src="/images/itLandlogo.png" alt="logo" class="logo">
          <h1>ITLand</h1>
          </div>
          <form class="main__input">
            <input type="text" placeholder="Search" />
            <span class="main__input__icon"><i class="fa-solid fa-magnifying-glass"></i></span>
          </form>
          <div class="header__account">
            <a class="account__icon" href="/login">
            <i class="fa-solid fa-user"></i>
            <span>My account</span>
            </a>
          </div>
          <div class="container-header__cart">
            <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i><span>Cart</span></a>
          </div>
        </div>
        <nav class="navegation">
          <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#"> Contact us</a></li>
          </ul>
       
        </nav>
      </header>
    <main>
        <section class="main-container"> 
            <div>
                <!-- <div class="name-product"><p>Samsung S21FE 5G</p></div> -->
                <section class="image-container">
                    <img src="images/samsungs21.jpg" alt="">
                    <p>1/5</p>
                </section>
            </div>
            <section class="section__characteristics">
                <div class="container-charac">
                    <div class="name-product">
                        <p>Samsung S21FE 5G</p>
                        <i class="fa-regular fa-heart"></i>
                    </div>
                    <div class="characterisrics-memory-color">
                        <div>
                            <p class="p1">Internal memory:</p>
                            <p class="p2">128 GB</p>
                        </div>
                        <i class="fa-solid fa-angle-right"></i>
                    </div>
                    <div class="characterisrics-memory-color">
                        <div>
                            <p class="p1">Colors:</p>
                            <p class="p2">Black</p>
                        </div>
                        <i class="fa-solid fa-angle-right"></i>
                    </div>
                </div>
                <p class="previous">$ 1300</p>
                <div class="oferts">
                    <p class="price">$ 1200</p>
                    <p class="discount">8% OFF</p>
                </div>
                <a class="payment-methods" href= "#">Payment methods</a>
                <div class="freeshipping">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-truck" viewBox="0 0 16 16">
                    <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                    </svg>
                    <span class="description__freeshipping">Free shipping!!</span>
                </div>
                <div class="freeshipping">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-shop" viewBox="0 0 16 16">
                        <path d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h1v-5a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v5h6V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zM4 15h3v-5H4v5zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3zm3 0h-2v3h2v-3z"/>
                      </svg>
                    <span class="description__freeshipping">Free withdrawal at the branch</span>
                </div>
                <div class="article-button">
                    <button type="button" class="btn1"> Buy</button>
                    <button type="button" class="btn2"> Add to Cart</button>
                    <i class="fa-regular fa-heart"></i>
                </div>
            </section>
            <section class="section__description">
                <div class="description__specifications">
                    <p class="specifications-title">Technical specifications</p>
                    <div class="specification">
                        <p>Screen size: <span>6.4"</span></p>
                        <p>Internal memory: <span>128 GB</span></p>
                        <p>Frontal camera:<span>32 Mpx</span></p>
                        <p>Rear camera:<span>12 Mpx</span></p>

                    </div>
                    <div class="btn"><button type="button">See more features</button></div>
                </div>
                <div class="description">
                    <h4>Description</h4>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                        Sunt quaerat minima nam vero tenetur est cupiditate quas quibusdam 
                        veritatis, soluta, mollitia cum! 
                        Laborum maiores quam veritatis reiciendis odio repellendus. Animi.
                    </p>
                </div>
            </section>
        </section>
    </main>
    <section class="section__nav__mobile">
        <ul>
            <li class="nav__mobile__caja">
                <a href="#"><i class="uil uil-home"></i></a>
            </li>
            <li class="nav__mobile__caja">
                <a href="#"><i class="uil uil-search"></i></a>
            </li>
            <li class="nav__mobile__caja">
                <a href="#"><i class="uil uil-shopping-cart"></i></a>
            </li>
            <li class="nav__mobile__caja">
                <a href="#"><i class="uil uil-heart-alt"></i></a>
            </li>
            <li class="nav__mobile__caja">
                <a href="#"><i class="uil uil-user"></i></a>
            </li>
          </ul>

      </section>
      <footer>
        <div class="footer_section1">
          <a href="#"><h6 class="footer_title">TERMS & CONDITIONS</h6></a>
          <a href="#"><h6 class="footer_title">SUPPORT</h6></a>
          <a href="#"><h6 class="footer_title">CONTACT US</h6></a>
          <a href="#"><h6 class="footer_title">CATEGORIES</h6></a>
        </div>
        <div class="socialmedia">
          <a href="#"><i class="fas fa-brands fa-instagram"></i></a>
          <a href="#"><i class="fas fa-brands fa-twitter"></i></a>
        </div>
      <p>
        Copyright© 2021-2022 Itland All rights reserved <br />
        Made with <i class="fa-solid fa-heart"></i> by ITland
      </p>
    </footer>
</body>
</html>