.section__nav__mobile{
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  border-radius: 10px 10px 0 0;
  box-shadow: 0.5px 0.5px 5px black;
  height: 45px;
  z-index: 1111111;
}
.section__nav__mobile ul{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  list-style: none;
  text-align: center;
}
.section__nav__mobile a{
  text-decoration: none;
  color: rgb(16, 14, 14);
}
.section__nav__mobile a i{
  font-size: 1.5em;
}
.section__nav__mobile .nav__mobile__caja{
  height: 45px;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section__nav__mobile .nav__mobile__caja:hover{
  border-top: 3px solid #1f41eb;
  transition: all 300ms;
}
.section__nav__mobile a:hover{
  color: #1f41eb;
}
#search:target{
  display: block;
}


@media screen and (min-width:1024px){
  .section__nav__mobile{
    display: none;
  }
}