* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }


footer {
    padding: 10px;
    margin-bottom: 50px;
    
  }
.footer_section1{
  display:flex;
  justify-content:center;
}
.footer_title{
  margin:15px;
  font-size:9px;
}
footer p{
  font-size:12px;
  text-align:center;
}
.socialmedia{
  display: flex;
  justify-content:center;
  margin-bottom: 15px;
  
}
.socialmedia i{
  color: rgb(81, 81, 80);
  margin-right:15px;
  font-size: 25px;
}
@media (min-width:461px){
  .footer_title{
    font-size:12px;}
}