.header__account .account {
  display: none;
}

.header__account span {
  display: none;
}

.user_option{
  display: none;
}

.container-header__cart {
  display: none;
}
.container-header__cart a{
  text-decoration: none;
  padding: 10px;
}
.container-header__cart a i {
  font-size: 1.8em;
}

.navegation {
  display: none;
  padding: 15px;
}
.icon_down{
  display: none;
}
.nameHeader{
  display: none;
}
.container-header {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 1fr;
  align-items: center;
  position: relative;
  padding: 5px;
  color: #ffffff;
  background-color: #0D1321;
}

.container-header .title_and_logo {
  display: flex;
  justify-content:center;
  align-items: center;
  cursor:pointer;
  text-decoration: none;
  color:white;
}

.title_and_logo img{
  color: white;
  width: 40px;
}

.header__burger {
  font-size: 1.5em;
  padding-left: 30px ;
  color: #fff;
  text-decoration: none;
}

.header__account {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25px;
}

.account__icon {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
}
.user{
  color: #000;
  text-align: center;
  position: relative;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:5px;
  background-color: #0D1321;
}
.btn-login{
  background-color: #102860;
}
.btn-register{
  background-color: #1d2d44;
}
.user_name{
  color: #fff;
}
.headImage{
  display: flex;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: solid 0.5px white;
  background-color: white;
  justify-content: center;
  object-fit: cover;
  align-items: center;
}
.nameLogged, .logOut{
  display: none;
}
.user p {
  color: steelblue;
  font-size: 1.6em;
  font-weight: bold;
}
.user .user-profile{
  width: 90px;
  height: 90px;
}
.button-exit{
  position: absolute;
  top: 10px;
  left: 87%;
}
.button-exit svg{
  color: #fff;
  width: 30px;
  height: 30px;
}

.menu-mobile{
  background-color: #fff;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
  transition: all 600ms;
  z-index: 1212120;
  transform: translateX(-1820px);  
}
.menu-mobile_active{
  transform: translateX(0);
  position: fixed;
  overflow: scroll;
}

.navegation-mobile {
  margin-top: 20px;
}
.navegation-mobile ul{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.mobile_categories{
  color: #000;
}
.user-image{
  background-color: none;
}
.userImage{
  border: 1px solid rgb(255, 255, 255);
  object-fit: cover;
}
.userImage img{
  object-fit: cover;
}

.navegation-mobile ul li {
  list-style: none;
}
.main__input {
  display: none;
  grid-column: 1/4;
  order: 9;

}
.main__input form{
  position: relative;
  height: 35px;
}
.main__input form input{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding-left: 10px;
}
.main__input form input:focus{
  outline: none;
}
.main__input form i{
  position: absolute;
  top:10px;
  right: 15px;
  color: #000;
}

/* --------------------------------------TABLETS------------------------------
@media screen and (min-width:767px) and (max-width:1023px) {} */
/* --------------------------------------DESKTOP----------------------------- */
@media screen and (min-width:1024px) {
  .user_option{
    display: block;
  }
  .menu-mobile{
    display: none;
  }
  .nameHeader{
    display: block;
  }
  .container-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3em;
  }


  .container-header .title_and_logo {
    order: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .title_and_logo h1 {
    font-size: 30px;
  }

  .title_and_logo img{
    width: 30px;
  }

  .header__burger {
    display: none;
    position: relative;
  }
  
  .user_logged{
    background: #3a445a55;
  }
  .user_logged_user{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding:10px;
    position: relative;
  }
  .crown{
    position: absolute;
    left: 7%;
    top: 5%;
    transform: rotate(307deg);
    color:gold
  }
  .header__account .user_logged a{
    border-radius: 4px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .header__account {
    order: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 20%;
  }
  .user_option {
    background-color: white;
    position: absolute;
    top: 92%;
    width: 14.7%;
    z-index: 324;
  }
  .user_option a{
    color: #0D1321
  }
  .user_option a:hover{
    background: #0D1321;
    border-radius: 0;
    color: white;
    font-weight: bold;

  }
  .user_option_active{
    display: none ;
  }

  .icon-rotate{
    transform:rotate(180deg);
    transition: all 300ms ease-out ;
  }
  
  .icon-rotate2{
    transform:rotate(-0deg);
    transition: all 300ms ease-out ;
  }

  .header__account .user_logged{
    width: 100%;
  }


  /* .header__account span {
    display: block;
    font-size: 15px;
  } */

  .account__icon {
    font-size: 15px;
    display: flex;
    justify-content: center;
  }

  .main__input {
    grid-column: none;
    order: 2;
    width: 40%;
    position: relative;
    border-radius: 30px;
  }

  .results{
    position: absolute;
    list-style: none;
    background:white;
    width: 95%;
    height: auto;
    z-index: 03003;
    color: #0D1321;
  }
  
  .results li{
    /* border-bottom: 1px solid rgb(112, 112, 112); */
    padding: 1em;
  }
  .listResult a{
    width: 100%;
    height: 1em;
  }
  
  
  
  .main__input i {
    display: block;
    position: absolute;
    top: 10px;
    right: 15px;
    color: #000;
  }

  .main__input input {
    border: none;
    height: 3em;
    padding-left: 1em;
    width: 100%;
  }

  .main__input input::placeholder {
    padding-left: 10px;
  }

  .header__account .account {
    display: block;
  }
  .container-header__cart {
    display: flex;
  }

  .container-header__cart i {
    color: #fff;
    font-size: 15px;
  }
  .icon_down{
    display: block;
  }

  .navegation {
    display: flex;
    background-color: #1d2d44;
    font-family: "Roboto", sans-serif;
    justify-content: flex-end;
    align-content: center;
    height: 35px;
    padding-right: 20px;
  }

  .navegation ul {
    display: flex;
    gap: 20px;
    align-items: center;
    list-style: none;
    padding-left: 10px;
    justify-content: flex-end;
  }

  .navegation ul li {
    list-style: none;
    font-size: 10px;
    font-weight: 400;
  }

  .navegation ul li a {
    text-decoration: none;
    color: #fff;
  }

  .title_and_logo h1 {
    font-size: 40px;
  }

  .title_and_logo img{
    width: 60px;
  }

  .header__account span {
    font-size: 20px;
    display: block;
    margin-left: 10px;
  }

  .account__icon {
    font-size: 20px;
  }

  .container-header__cart i {
    font-size: 20px;
  }

  .container-header__cart span {
    font-size: 20px;
  }
  .container-header__cart a {
    text-decoration:none;
  }

  .navegation ul li {
    font-size: 15px;
  }

}