
.main__input {
  display: none;
}
.header__account .account {
  display: none;
}
.container-header__cart {
  display: none;
}
.navegation {
  display: none;
}
.container-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    color: black;
    background-color: white;
  }
  .header__burger {
    font-size: 1.3em;
  }
  .header__account {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
  }
  .account__icon {
    color: black;
  }