* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family:"Roboto", sans-serif;
}
.section-title{
  font-weight: bold;
  text-align: center;
  margin-bottom:15px;
}

.slide,
.slide2{
  width: 100%;
  overflow: hidden;

}
.slide ul,
.slide2 ul{
  width: 500%;
  display: flex;
  list-style: none;
  animation: slide 20s infinite alternate ease-in-out;

}
nav ul .caja{
  width: 100%;
  text-align: center;
  font-weight: bold;
  list-style: none;
}
.slide img,
.slide2 img{
  width: 100%;
  height: 100%;
}
@keyframes slide {
  0%{ margin-left: 0%;}
  15%{margin-left: 0%;}
  
  20%{margin-left: -100%;}
  35%{margin-left: -100%;}

  40%{margin-left: -200%;}
  55%{margin-left: -200%;}

  60%{margin-left: -300%;}
  75%{margin-left: -300% ;}

  80%{margin-left: -400%;}
  100%{margin-left: -400%;}
}
.main_paymentmethods{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.paymentmethods{
  width: 90%;
  height: 10vh;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #315ed1;
  background-color: #fff;
  box-shadow: 1px 1px 3px rgba(162, 162, 162, 0.384);
}
.paymentmethods .color{
  color: #315ed1;
}
.paymentmethods .paymethod{
display:none;
}
.paymentmethods .pay__icon{
  display: flex;
  align-items: center;
  justify-content: center;
  border:1px solid #315ed1;
  border-radius: 25px;
  width: 45px;
  height: 45px;
}
.CarrusselSection {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  overflow-x: scroll;
}
.CarrusselSection::-webkit-scrollbar{
  display: none;
}
.FirstOffer h3 {
  font-size: small;
  text-align: center;
}
.producTittle {
  text-align: center;
  font-size: medium;
  margin-top: 15px;
}
.line {
  width: 80%;
  margin: 10px 10% 0 10%;
}
.FirstOffer {
  flex: 1 0 auto;
  background-color: #fff;
  width: 47%;
  outline: none;
  gap: 20px;
  margin: 5px 5px 5px 5px;
  padding: 2px;
  height: 45vh;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.384);
  text-decoration: none;
}

.imagecarrussel {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-content: center;
}
.imagecarrussel img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

.Imagetext {
  text-align: center;
}
.FirstOffer .Imagetext .Price {
  color: #315ed1;
  font-weight: 900;
  padding-bottom: 5px;
}
.FirstOffer .Imagetext .Photo{
  color: #000000;
}
.FirstOffer .Imagetext .Delivery{
  font-size: 15px;
  color: rgb(101, 97, 235);
}
.section-categories{
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  text-align: center;
  margin: 10px 10px 10px 10px;
  background-color: #fff;
  padding: 10px 10px 10px 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.384);
  border-radius:5px ;
}
.section-categories .categories{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  border-radius: 5px;
  text-align: center;
  flex-direction: column;
  color: #000000;
}
.categories-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color :#ebebeb;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.section-categories svg{
  width: 24px;
  height: 24px;

}
.categories-seemore button{
  border: none;
  margin-top: 10px;
  background-color: #315ed1;
  border-radius: 5px;
  color: #fff;
  width: 120px;
  height: 30px;
}
/* --------------------MOBILE------------------------------ */
@media screen and (max-width:767px){
  .InitialPromotion2:not(nav){
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .InitialPromotion2:hover .btb-xs{
    display: flex;
  }
  .btb-xs{
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
    width: 50px;
    height: 12vh;
    background-color: #ced8d972;
  }
  .btb-xs i{
    color: rgba(0, 0, 0, 0.281);
    font-size: 2em;
  }
  .button-left{
    left: 0;
    border-radius: 0 5px 0 5px;
  }
  .button-right{
    right: 0;
    border-radius: 5px 0 5px 0;
  }
  .FirstOffer{
    width: 47%;
  }
  .slide2{
    display: none;
  }
  .paymentmethods .color {
    color: #315ed1;
    display: flex;
    width: 113%;
}
.paymentmethods .article-text{
  font-size: 47%;
}
  .paymentmethods{
    justify-content:space-evenly;
    width: 95%;
  }

  .paymentmethods .paymethod{
    display:block;
    width:15%;
    height:6vh;
    display:flex;
    flex-direction: column;
    justify-content:inherit;
  }
  .paymethod__img{
    width:100%;
    display:flex;
    justify-content:center;
  }
  .paymethod__img img{
    width:94%;
  }
  .paymethod__installment{
    width:100%;
    display:flex;
    justify-content:center;
  }
  .paymethod__installment span{
    font-size:8px;
    text-align:center;
    font-weight:bold;
    color:rgb(44, 44, 44);
  }
  
  .paymethod .installment{
    width:100%;
  }
}
/* ----------------------TABLETS----------------------------- */
@media screen and (min-width:767px) and (max-width:1023px) {
  .FirstOffer{
    width: 30%;
  }
  .InitialPromotion2:not(nav){
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .InitialPromotion2:hover .btb-xs{
    display: flex;
  }
  .btb-xs{
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
    width: 50px;
    height: 15vh;
    background-color: #ced8d972;
  }
  .btb-xs i{
    color: rgba(0, 0, 0, 0.281);
    font-size: 2em;
  }
  .button-left{
    left: 0;
    border-radius: 0 5px 0 5px;
  }
  .button-right{
    right: 0;
    border-radius: 5px 0 5px 0;
  }
  .slide2{
    display: none;
  }
    .section-categories{
    gap: 0;
  }
  .section-categories .categories{
    width: 50%;
    
  }
  .section-categories .categories-seemore{
    width: 100%;
  }
  .FirstOffer{
    width: 30%;
  }
  .paymentmethods{
    justify-content:space-evenly;
  }
  .paymentmethods .paymethod{
    display:block;
    width:15%;
    height:10vh;
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
  }
  .paymethod__img{
    width:100%;
    display:flex;
    justify-content:center;
  }
  .paymethod__img img{
    width:50%;
  }
  .paymethod__installment{
    width:100%;
    display:flex;
    justify-content:center;
  }
  .paymethod__installment span{
    font-size:10px;
    text-align:center;
    font-weight:bold;
    color:rgb(44, 44, 44);
  }
  
  .paymethod .installment{
    width:100%;
  }
  

}
/* -------------------------DESKTOP------------------------------ */
@media screen and (min-width:1024px) {
  .slide{
    display: none;
  }
  .slide2{
    display: block;
  }
  .FirstOffer{
    width: 20%;
  }
  .section-categories .categories{
    width: 20%;
    
  }
  .section-categories .categories-seemore{
    display:flex;
    justify-content:center;
    align-items:center;
    
  }
  .paymentmethods{
    justify-content:space-evenly;
  }
  .paymentmethods .paymethod{
    display:block;
    width:15%;
    height:10vh;
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
  }
  .paymethod__img{
    width:100%;
    display:flex;
    justify-content:center;
  }
  .paymethod__img img{
    width:50%;
  }
  .paymethod__installment{
    width:100%;
    display:flex;
    justify-content:center;
  }
  .paymethod__installment span{
    font-size:10px;
    text-align:center;
    font-weight:bold;
    color:rgb(44, 44, 44);
  }
  
  .paymethod .installment{
    width:100%;
  }
  .InitialPromotion2:not(nav){
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .InitialPromotion2:hover .btb-xs{
    display: flex;
  }
  .btb-xs{
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
    width: 70px;
    height: 14vh;
    background-color: #ced8d972;
  }
  .btb-xs i{
    color: rgba(0, 0, 0, 0.281);
    font-size: 2em;
  }
  .button-left{
    left: 0;
    border-radius: 0 5px 0 5px;
  }
  .button-right{
    right: 0;
    border-radius: 5px 0 5px 0;
  }
}

