

.register h4{
  position:relative;
  text-align: center;
  font-size: 27px;
  font-weight: 400;
  color: rgb(77, 76, 76);
}

.register form {
  margin-top: 10px;
}
.register form .userinput {
  height: 52px;
  margin: 18px 0;
}
form .userinput input {
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 37px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #c7bebe;
  border-bottom-width: 2.5px;
  border-radius: 17px;
  transition: all 0.3s ease;
}
.userinput input:focus,
.userinput input:valid {
  border-color: #4070f4;
}

form h3 {
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}
.userinput.button input {
  color: #fff;
  letter-spacing: 1px;
  border: none;
  background: #7997ea;
  cursor: pointer;
}
.userinput.button input:hover {
  background: #0e4bf1;
}
form .text h3 {
  color: #333;
  width: 100%;
  text-align: center;
}
form .text h3 a {
  color: #4070f4;
  text-decoration: none;
}
form .text h3 a:hover {
  text-decoration: underline;
}

.userinput i {
  position: absolute;
  transform: translateY(-50%);
  color: rgb(0, 0, 0);
  font-size: 23px;
  transition: all 0.2s ease;
}

#icon1 {
  top: 33.5%;
  left: 10%;
}

#icon2 {
  top: 51%;
  left: 10%;
}

#icon5 {
  top: 51%;
  left: 84%;
}
/* 
p {
  font-size: 10px;
  text-align: center;
  padding: 1%;
  color: rgb(104, 102, 102);
} */


/* Small Devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .register{
        max-width: 350px;
        max-height: 500px;
    }
    #icon1{
        top: 34%;
        left: 12.5%;
    }
    #icon2{
        top: 51.5%;
        left: 12.5%;
    }
    #icon3{
        top: 51.8%;
        left: 12.5%;
    }
    #icon4{
        top: 65.9%;
        left: 12.5%;
    }
    #icon5{
        top: 51.8%;
        left: 80.5%;
    }
}

@media only screen and (max-width: 769px) and (min-width: 601px){
    .register{
        max-height: 500px;
    }
    .conditions{
        opacity: 0;
    }
    #icon1{
        top: 33.9%;
        left: 10%;
    }
    #icon2{
        top: 51.3%;
        left: 10%;
    }
    #icon3{
        top: 51.8%;
        left: 10%;
    }
    #icon4{
        top: 65.9%;
        left: 10%;
    }
    #icon5{
        top: 51.3%;
        left: 84%;
    }

}
