* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

.top-list {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
  align-content: center;
}

.top-list .title-list {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-left: 10px;
}

.top-list .title-list h1 {
  padding: 5px;
  font-size: 1.6em;
  text-align: center;
  align-self: center;
  margin: 0;
}

.listhr {
  margin-top: 0;
  margin-bottom: 0;
}

.top-list .createproduct-button {
  margin-right: 10px;
  padding: 5px;
  width: 30%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.createproduct-button a {
  width: 100%;
}

.createproduct-button a .btn1 {
  background-color: #3e5c76;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  color: #Fff;
  cursor: pointer;
}

.createproduct-button a .btn1:hover {
  background-color: rgba(140, 140, 190);
}

.filter-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 5px;
  width: 100%;
  background-color: #3e5c76;
}

.drop-down {
  width: 100%;
  height: 40px;
  margin: 5px 5px 5px 5px;
  padding-left: none;
}

.item-search {
  display: flex;
  padding: 10px;
  border: solid rgb(207, 207, 207) 1px;
  height: 35px;
  border-radius: 5px;
  align-content: center;
  justify-content: space-between;
  font-size: small;
  background-color: white;

}

.item-search form {
  position: relative;
  display: flex;
  align-content: center;
  width: 100%;
}

.item-search form input {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding-left: 10px;
  border: none;
}

.item-search form input:focus {
  outline: none;
}

.item-search form i {
  position: absolute;
  top: 1.5px;
  right: 5px;
  color: #000;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #eceaea
}

.checkbox-view-form {
  display: none
}

.checkbox-view h2 {
  display: none
}

.checkbox-view .listcb1 {
  display: none
}

/*--articulo--*/
.item-list-products {
  width: 100%;
  margin-top: 10px;
}

.item-list-products article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  padding-top: 5px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.384);
  background-color: white;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.item-list-image {
  width: 50%;
}

.item-list-image img {
  object-fit: contain;
  height: 200px;
  width: 200px;
}

.list-best_deals:hover {
  box-shadow: 2px 2px 7px rgb(207, 208, 209);
}

.list-product_name {
  font-weight: bold;
}

.list-Delivery {
  color: #00a650;
}

.list-best_deals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 3em 1em 0 1em; */
  border-radius: 3px;
  box-shadow: 1px 1px 4px rgba(131, 131, 131, 0.404);
  position: relative;
  width: 100%;
}

.list-FirstOffer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.list-product-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
}

.list-product-text p {
  margin: 0;
  padding: 5px;
  text-align: center;
}

.list-best_deals_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f1f0f080;
  padding: 1.3em;

}

.list-discount {
  position: absolute;
  left: 90%;
  top: 11px;
  display: flex;
  justify-content: center;
  width: 10%;
  background-color: red;
  font-weight: bold;
  border-radius: 40px 0 0 40px;
  color: #fff;
  padding: 7px 0px;
}


.list-FirstOffer .list-Delivery {
  padding: 5px;
  font-size: 15px;
  text-align: center;
}

.div-btn-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  background-color: #f1f0f080;
}

.btn-delete-item {
  height: 40px;
  background-color: #0d1321;
  border-radius: 5px;
  border: none;
  color: #Fff;
  cursor: pointer;
  width: 100%;
}

.btn-delete-item:hover {
  background-color: #3e5c76;
}

.div-btn-item a {
  width: 100%;
  display: flex;
  align-content: center;
}

.div-btn-item form {
  width: 100%;
  display: flex;
  align-content: center;
}

.btn-edit-item {
  height: 40px;
  text-decoration: none;
  background-color: #3e5c76;
  border: none;
  color: #Fff;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}

.btn-addcart-item {
  height: 40px;
  text-decoration: none;
  background-color: #3e5c76;
  border: none;
  color: #Fff;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}

.btn-edit-item:hover {
  background-color: #748cab;
}

.btn-addcart-item:hover {
  background-color: #748cab;
}

@media screen and (min-width:445px) and (max-width:767px) {
  .top-list .createproduct-button {
    width: 25%;
  }

  .item-list {
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding-left: 0;
    padding-top: 0;
  }

  .filter-view {
    padding-left: 0px;
    padding-right: 0px;
  }

  .listcb1 {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    color: #eceaea;
    display: block !important;
  }

  .listcb {
    color: #eceaea;
  }

  .checkbox-view {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: start;
    background-color: #3e5c76;
    ;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .checkbox-view h2 {
    color: white;
    font-size: 1.2rem;
    text-align: center;
    display: block;
  }

  .checkbox-view-form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: start;
  }

  .checkbox-view-form h3 {
    color: white;
    font-size: 1rem;
  }

  .input-container {
    display: flex;
    justify-content: flex-start;
    align-content: center;
  }

  .input-checkbox label {
    font-size: 0.8rem;
    color: white
  }

  .item-list-products {
    width: 55%;
  }

  .checkbox-view-form-button {
    height: 30px;
    text-decoration: none;
    background-color: rgba(51, 51, 70, 0.85);
    border: none;
    color: #Fff;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .checkbox-view-form-button:hover {
    background-color: rgba(65, 65, 88, 0.85);
    border: 1px solid rgba(51, 51, 70, 0.85)
  }
}

@media screen and (min-width:841px) {
  .top-list .createproduct-button {
    width: 15%;
  }

  .listcb1 {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    color: #eceaea;
    display: block !important;
  }

  .listcb {
    color: #eceaea;
  }

  .filter-view {
    padding-left: 0px;
    padding-right: 0px;
  }

  .item-list {
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding-left: 0;
    padding-top: 0;
  }

  .checkbox-view {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: start;
    background-color: #3e5c76;
    ;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .checkbox-view h2 {
    color: white;
    font-size: 1.2rem;
    text-align: center;
    display: block;
  }

  .checkbox-view-form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: start;
  }

  .checkbox-view-form h3 {
    color: white;
    font-size: 1rem;
  }

  .input-container {
    display: flex;
    justify-content: flex-start;
    align-content: center;
  }

  .input-checkbox label {
    font-size: 0.8rem;
    color: white
  }

  .item-list-products {
    width: 70%;
  }

  .item-list-products article {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    height: 190px;
    padding: 15px;
  }

  .list-article_product a {
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    width: 70%;
  }

  .item-list-image {
    width: 30%;
  }

  .item-list-image img {
    object-fit: contain;
    height: 150px;
    width: 150px;
  }

  .div-btn-item {
    flex-direction: column;
    justify-content: space-around;
    width: 30%;
    background-color: #fff;
  }

  .div-btn-item a {
    width: 100% !important;
  }

  .div-btn-item form {
    width: 100%;
  }

  .btn-addcart-item {
    width: 100%;
  }

  .checkbox-view-form-button {
    height: 30px;
    text-decoration: none;
    background-color: rgba(51, 51, 70, 0.85);
    border: none;
    color: #Fff;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .checkbox-view-form-button:hover {
    background-color: rgba(65, 65, 88, 0.85);
    border: 1px solid rgba(51, 51, 70, 0.85)
  }
}