*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.main__input{
    display: none;
}
.header__account .account{
    display: none;
}
.container-header__cart{
    display: none;
}
.container-header__cart a{
    text-decoration: none;
    padding: 10px;
}
.navegation{
    display: none;
}
main h2{
    display: none;
}
.name-product i{
    display: none;
}


.container-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    color: rgb(255, 255, 255);
    background-color: #01518a;
}
.header__burger{
    font-size: 1.3em;

}
.header__account span{
    display: none;
}
/* -----------body----------- */

.name-product{
    margin: 10px 0 20px 10px;
}
.name-product p{
    font-weight: 800;
    font-size: 1.2em;
}
.main-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.name-container{
    padding-left:20px;
}

.image-container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
}
.image-container img{
    width: 70%;

}
.image-container p{
    left: 10px;
    top: -10px;
    position: absolute;
    background-color: #ebebeb;
    text-align: center;
    border-radius: 5px;
    width: 40px;
}
/* --------carracteristicas y botones-------- */
.container-charac{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-bottom: 10px;
}
.characterisrics-memory-color{
    padding: 10px;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    border-radius: 4px;
    background-color: #f1eeeea1;
}
.characterisrics-memory-color .p1{
    color: gray;
}
.characterisrics-memory-color .p2{
    font-weight: bold;
}
.characterisrics-memory-color i{
    color: #01518a;
}
.section__characteristics .previous{
    text-decoration: line-through;
    padding-left: 10px;
    font-size: 1.4em;
    color: gray;
}
.section__characteristics .oferts{
    padding-left: 10px;
    display: flex;
    align-items: center;
    gap: 10px
}
.section__characteristics .price{
    color: #01518a;
    font-weight: 700;
    font-size: 2em;
}
.section__characteristics .discount{
    color: #fff;
    background-color:#01518a ;
    padding: 3px 3px 3px 5px;
    border-radius: 5px;
}
.section__characteristics .payment-methods{
    padding-left:10px;
    text-decoration: none;
    color: #0e9aff;
    font-weight: 700;
}
.freeshipping{
    display: flex;
    gap: 10px;
    margin: 10px 0 0 10px;
}
.freeshipping svg{
    width: 1.3em;
    height: 1.3em;
    color: #01518a;
}
.article-button{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.article-button button{
    width: 36%;
    height: 7vh;
}
.article-button .btn1{
    background-color: #01518a;
    border-radius:5px;
    border: none;
    color: #Fff;
    cursor: pointer;
}
.article-button .btn2{
    background-color: #fff;
    border-radius:5px;
    border: 1px solid #01518a;
    color: #01518a;
    cursor: pointer;
}
.section__description {
    display: flex;
    gap: 2em;
    flex-direction: column;
    padding: 10px 10px 0 10px;
    border: 1px rgb(163, 162, 162) solid;
    border-radius: 4px;
}
.description__specifications .specifications-title{
    padding: 5px;
    margin-bottom: 5px;
    text-align: center;
    color: #01518a;
    font-size: 1.4em;
    font-weight: 900;
}
.specification p{
    color: rgb(55, 54, 54);
}
.specification{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 10px;
}
.specification span{
    color: #000;
    padding-left: 5px;
    font-weight: 900;
}
.description__specifications .btn{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.description__specifications .btn button{
    width: 80%;
    height: 40px;
    background-color: #fff;
    color: #01518a;
    border: 1px solid  #01518a; ;
}
.section__description .description{
    width: 100%;
    border-top: 1px rgb(163, 162, 162) solid;
    padding: 10px;
}
.section__description .description h4{
    padding-bottom: 3px;

}

/*--------------------Tablet--------------------- */
@media screen and (min-width:767px) and (max-width:1023px){
    .main-container{
        width: 95%;
        display:grid;
        grid-template-columns: 45% 45%;
        grid-template-rows: 1fr;
    }
    .section__description{
        grid-column: 1/3;
        width: 100%;
        margin-left: 35px;
    }
    .article-button{
        position: relative;
        display: flex;
        gap: 10px;
        flex-direction: column;
    }
    .article-button .btn1{
        width: 70%;
        background-color: #01518a;
        border-radius:5px;
        border: none;
        color: #Fff;
        height: 7vh;
        cursor: pointer;
    }
    .article-button .btn2{
        width: 70%;
        background-color: #fff;
        border-radius:5px;
        border: 1px solid #01518a;
        color: #01518a;
        height: 7vh;
        cursor: pointer;
    }
    .article-button i{
        position: absolute;
        top :-20px;
        right: 10px;
        font-size: 20px;
    }

}
/* -----------------------Desktop---------------- */
@media screen and (min-width:1024px) {
    .main-container{
        margin-top: 20px;
        width: 97%;
        display:grid;
        grid-template-columns: 32% 32% 32%;
        grid-template-rows: 1fr;
    }
    main h2{
        display: block;
    }
    .name-product{
        position: relative;
        display:flex;
        justify-content: center;
        align-items:center;
    }
    .name-product i{
        display:block;
        margin-left:10px;
        font-size:1.25rem;
    }
    .name-product i:hover{
        color: #01518a;
    }
    .article-button{
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }
    .article-button i{
        display: none;
    }
    .article-button button{
        width: 100%;
        background-color: #01518a;
        border-radius:5px;
        border: none;
        color: #Fff;
        height: 6vh;
        cursor: pointer;
        transition: all 1s;
    }
    .article-button .btn1:hover{
        color: #01518a;
        background-color: #Fff;
        border: 1px solid #01518a;
    }
    .article-button .btn2:hover{
        color: #Fff;
        background-color: #01518a;
        border:none
    }
    .description__freeshipping{
        display: block;
    }
    .freeshipping{
        display: flex;
        gap: 10px;
        margin: 10px 0 0 10px;
    }
    .freeshipping svg{
        width: 1.3em;
        height: 1.3em;
        color: #01518a;
    }
    .section__characteristics{
        margin: 10px;
    }
    .section__description{
        width: 100%;
        grid-column-start:3;
        grid-column-end:4;
        grid-row-start:1;
        grid-row-end:2;
        margin: auto;
    }
}

footer {
    margin-top:20px;
    
  }