* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.main-register {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #a6a7a8;
}
.register {
  position: relative;
  max-width: 430px;
  width: 100%;
  background: rgb(255, 255, 255);
  padding: 34px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 93px;
  margin-top:20px;
}
.register h2 {
  position: relative;
  text-align: center;
  font-size: 27px;
  font-weight: 400;
  color: black;
}

.register form {
  margin-top: 10px;
}
.register form .userinput {
  height: 52px;
  margin: 18px 0;
}
form .userinput input {
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 37px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #c7bebe;
  border-bottom-width: 2.5px;
  border-radius: 17px;
  transition: all 0.3s ease;
}
.userinput input:focus,
.userinput input:valid {
  border-color: #4070f4;
}
form .conditions {
  display: flex;
  align-items: center;
}
form h3 {
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}
.userinput.button input {
  color: #fff;
  letter-spacing: 1px;
  border: none;
  background: #7997ea;
  cursor: pointer;
}
.userinput.button input:hover {
  background: #0e4bf1;
}
form .text h3 {
  color: #333;
  width: 100%;
  text-align: center;
}
form .text h3 a {
  color: #4070f4;
  text-decoration: none;
}
form .text h3 a:hover {
  text-decoration: underline;
}

.userinput i {
  position: absolute;
  transform: translateY(-50%);
  color: rgb(0, 0, 0);
  font-size: 23px;
  transition: all 0.2s ease;
}

#icon1 {
  top: 19.7%;
  left: 10%;
}

#icon2 {
  top: 32.5%;
  left: 10%;
}

#icon3 {
  top: 45%;
  left: 10%;
}

#icon4 {
  top: 57.5%;
  left: 10%;
}

#icon5 {
  top: 57.5%;
  left: 84%;
}

.register p {
  font-size: 10px;
  text-align: center;
  padding: 1%;
  color: rgb(104, 102, 102);
}


/* Small Devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width:767px) and (max-width:1023px) {
    .register{
        max-width: 450px;
    }
    .register .conditions{
        opacity: 1;
    }
    #icon1{
        top: 19%;
        left: 8.5%;
    }
    #icon2{
        top: 32.5%;
        left: 9.5%;
    }
    #icon3{
        top: 45.5%;
        left: 9.5%;
    }
    #icon4{
        top: 58.5%;
        left: 9.5%;
    }
    #icon5{
        top: 58.5%;
        left: 80.5%;
    }
}

@media screen and (min-width:1024px){
  .register{
    max-width: 550px;
  }
    .register p{
      opacity: 1;
    }
    #icon1{
        top: 19.8%;
        left: 8%;
    }
    #icon2{
        top: 33.5%;
        left: 8%;
    }
    #icon3{
        top: 45.5%;
        left: 8%;
    }
    #icon4{
        top: 58.5%;
        left: 8%;
    }
    #icon5{
        top: 59.5%;
        left: 84%;
    }
}
