  
  <!DOCTYPE html>
  <html lang="en">
  <!-- head -->
    <%- include('./partials/head') %> 
  <body>
    <%- include('./partials/header') %> 
    <main class="bg-image"; 
    height: 100vh;>
      <section class="aboutUs-main">
        <div class="aboutUs-firstblock">
            <div class="fb-description">
                <h1>This is us</h1>
                <p>ITLand is a techonolgy-lover company, passionate about delivering with excelence and attending our customer's needs, without neglecting the enviroment and the comunity.</h2>
            </div>
            <div class="fb-image">
                <img src="/images/Aboutus1.jpg">
            </div>
            </div>
            <div class="aboutUs-secblock">
                <div class="sb-atag">
                    <h1>3Mio sales</h1>
                </div>
                <div class="sb-btag">
                    <h1>10 countries across America</h1>
                    <img src="/images/america.png">
                </div>
                <div class="sb-ctag">
                    <h1>50+Employees</h1>
                </div>
            </div>
            <div class="aboutUs-thirdblock">
                <div class="tb-text">
                    <h1>Would you like to know more about us?</h1>
                </div>
                <div class="tb-button">
                    <btn>Contact Us</btn>
                </div>
            </div>
    </section>
    </main>
  <!-- Bottom Nav -->
    <%- include('./partials/bottomNav') %> 
  <!-- Footer -->
    <%- include('./partials/footer') %> 
  </body>
</html>
