  <!-- head -->
  <%- include('./partials/head') %> 
  <body>
    <%- include('./partials/header') %> 

    <main>
      <h1 style="color: rgb(128, 0, 0);">Favorites soon....</h1>
    </main>
  <!-- Bottom Nav -->
    <%- include('./partials/bottomNav') %> 
  <!-- Footer -->
    <%- include('./partials/footer') %> 
  </body>
</html>
