<%- include('./partials/head') %>

  <body>
    <!-- header -->
    <%- include('./partials/header') %>
      <main>
        <div class="InitialPromotion2">
          <div class="btb-xs button-left"><i class="fa-solid fa-angle-left"></i></div>
          <div class="btb-xs button-right"><i class="fa-solid fa-angle-right"></i></div>
          <nav class="slide">

            <ul>
              <li class="caja"><img src="/images/carrussel/1.webp" alt=""></li>
              <li class="caja"><img src="/images/carrussel/2.webp" alt=""></li>
              <li class="caja"><img src="/images/carrussel/3.webp" alt=""></li>
              <li class="caja"><img src="/images/carrussel/4.webp" alt=""></li>
              <li class="caja"><img src="/images/carrussel/5.webp" alt=""></li>
            </ul>
          </nav>
          <nav class="slide2">
            <ul>
              <li class="caja"><img src="/images/carrussel/img1.webp" alt=""></li>
              <li class="caja"><img src="/images/carrussel/img2.webp" alt=""></li>
              <li class="caja"><img src="/images/carrussel/img3.webp" alt=""></li>
              <li class="caja"><img src="/images/carrussel/img4.webp" alt=""></li>
              <li class="caja"><img src="/images/carrussel/img5.webp" alt=""></li>
            </ul>
          </nav>

        </div>
        <section class="main_paymentmethods">
          <a class="paymentmethods">
            <div class="pay__icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                class="bi bi-credit-card color" viewBox="0 0 16 16">
                <path
                  d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1H2zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7z" />
                <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1z" />
              </svg>
            </div>
            <div class="article-text">
              <p>Pay in installments</p>
              <span class="color">See banks promotions</span>
            </div>
            <div class="paymethod">
              <div class="paymethod__img"><img src="/images/mercadopago.png" alt="mercadopago"></div>
              <div class="paymethod__installment"><span class="installment">6 cuotas sin interes</span></div>
            </div>
            <div class="paymethod">
              <div class="paymethod__img"><img src="/images/santander.png" alt="santander"></div>
              <div class="paymethod__installment"><span class="installment">3 cuotas sin interes</span></div>
            </div>
            <div class="paymethod">
              <div class="paymethod__img">
                <img src="/images/bbva.png" alt="bbva">
              </div>
              <div class="paymethod__installment">
                <span class="installment">12 cuotas sin interes</span>
              </div>
            </div>
            <div class="paymethod">
              <div class="paymethod__img"><img src="/images/hsbc.png" alt="hsbc"></div>
              <div class="paymethod__installment"><span class="installment">6 cuotas sin interes</span></div>
            </div>

          </a>
        </section>
        <!-- <hr class="line"></hr> -->
        <h2 class="producTittle">Offers and discounts</h2>
        <div class="container-carrusel">
          <section class="CarrusselSection">
            <a href="/productDetail" class="FirstOffer">
              <div class="imagecarrussel">
                <img src="/images/tvsamsung.jpg" alt="notebook">
              </div>
              <div class="Imagetext">
                <h3 class="Photo">Tv Samsung</h3>
                <p class="Price">$ 1.000</p>
                <p class="Delivery">Free shipping</p>
              </div>
            </a>
            <a href="/productDetail" class="FirstOffer">
              <div class="imagecarrussel">
                <img src="/images/samsungs21.jpg" alt="laptop">
              </div>
              <div class="Imagetext">
                <h3 class="Photo">Samsung S21FE</h3>
                <p class="Price">$ 1.200</p>
                <p class="Delivery">Free shipping</p>
              </div>
            </a>

            <a href="/productDetail" class="FirstOffer">
              <div class="imagecarrussel">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
              </div>
              <div class="Imagetext">
                <h3 class="Photo">Samsung Galaxy S10</h3>
                <p class="Price">$ 900</p>
                <p class="Delivery">Free shipping</p>
              </div>
            </a>
            <a href="/productDetail" class="FirstOffer">
              <div class="imagecarrussel">
                <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook Pro2019">
              </div>
              <div class="Imagetext">
                <h3 class="Photo">Macbook Pro 2019</h3>
                <p class="Price">$ 2000</p>
                <p class="Delivery">Free shipping</p>
              </div>
            </a>
          </section>
        </div>
        <section class="section-title">Categories</section>
        <section class="section-categories">
          <div class="categories">
            <div class="categories-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-phone"
                viewBox="0 0 16 16">
                <path
                  d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h6zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z" />
                <path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
              </svg>
            </div>
            <p>Smartphone</p>
          </div>
          <div class="categories">
            <div class="categories-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tv"
                viewBox="0 0 16 16">
                <path
                  d="M2.5 13.5A.5.5 0 0 1 3 13h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zM13.991 3l.024.001a1.46 1.46 0 0 1 .538.143.757.757 0 0 1 .302.254c.067.1.145.277.145.602v5.991l-.001.024a1.464 1.464 0 0 1-.143.538.758.758 0 0 1-.254.302c-.1.067-.277.145-.602.145H2.009l-.024-.001a1.464 1.464 0 0 1-.538-.143.758.758 0 0 1-.302-.254C1.078 10.502 1 10.325 1 10V4.009l.001-.024a1.46 1.46 0 0 1 .143-.538.758.758 0 0 1 .254-.302C1.498 3.078 1.675 3 2 3h11.991zM14 2H2C0 2 0 4 0 4v6c0 2 2 2 2 2h12c2 0 2-2 2-2V4c0-2-2-2-2-2z" />
              </svg>
            </div>
            <p>Smart Tv</p>
          </div>
          <div class="categories">
            <div class="categories-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-laptop"
                viewBox="0 0 16 16">
                <path
                  d="M13.5 3a.5.5 0 0 1 .5.5V11H2V3.5a.5.5 0 0 1 .5-.5h11zm-11-1A1.5 1.5 0 0 0 1 3.5V12h14V3.5A1.5 1.5 0 0 0 13.5 2h-11zM0 12.5h16a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 12.5z" />
              </svg>
            </div>
            <p>Laptops</p>
          </div>
          <div class="categories">
            <div class="categories-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-headphones" viewBox="0 0 16 16">
                <path
                  d="M8 3a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V8a6 6 0 1 1 12 0v5a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h1V8a5 5 0 0 0-5-5z" />
              </svg>
            </div>
            <p>Accessories</p>
          </div>
          <div class="categories-seemore">
            <button type="button">See more</button>
          </div>
        </section>
      </main>
      <!-- bottom nav -->
      <%- include('./partials/bottomNav') %>
        <!-- footer -->
        <%- include('./partials/footer') %>
  </body>

  </html>