<!DOCTYPE html>
<html lang="en">
  <!-- head -->
  <%- include('./partials/head') %> 
  <body>
    <%- include('./partials/header') %> 

    <main class="error404ejs"> 
    </main>
  <!-- Bottom Nav -->
    <%- include('./partials/bottomNav') %> 
  <!-- Footer -->
    <%- include('./partials/footer') %> 
  </body>
</html>