<section class="section__nav__mobile">
    <ul>
      <li class="nav__mobile__caja">
          <a href="/"><i class="uil uil-home"></i></a>
      </li>
      <li class="nav__mobile__caja">
          <a href="#"><i class="uil uil-search"></i></a>
      </li>
      <li class="nav__mobile__caja">
          <a href="/productCart"><i class="uil uil-shopping-cart"></i></a>
      </li>
      <li class="nav__mobile__caja">
          <a href="/fav"><i class="uil uil-heart-alt"></i></a>
      </li>
      <li class="nav__mobile__caja">
          <a href="/login"><i class="uil uil-user"></i></a>
      </li>
    </ul>
  </section>