<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ITLand</title>
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/bottomNav.css">
    <link rel="stylesheet" href="./css/footer.css">
    <link rel="stylesheet" href="./css/headerNav.css">
    <link rel="stylesheet" href="./css/productCart.css">
    <link rel="stylesheet" href="./css/productDetail.css">
    <link rel="stylesheet" href="./css/login.css">
    <link rel="stylesheet" href="./css/register.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" /> 
    <script src="https://kit.fontawesome.com/d4dc869e85.js" crossorigin="anonymous"></script>
    <link rel="icon" href="./images/kl.png" >

  </head>