<!-- head -->
<%- include('../partials/head') %> 
  <body>
    <!-- header -->
    <%- include('../partials/header') %> 
    <main class="main-form ">
      <div class="container-form container__form-login">
       <div class="text-title">
        <h2>Welcome</h2>
        <p>Login</p>
       </div>
        <form class="form-inputs" action="/action_page.php" method="post">
          <div class="userinput">
            <input type="text" placeholder="Enter your e-mail" required />
            <i class="uil uil-user"></i>
          </div>
          <div class="userinput">
            <input type="password" placeholder="Enter your password" required />
            <i class="uil uil-lock icon"></i>
            <i class="uil uil-eye-slash showHidePw icon5"></i>
          </div>
          <div class="conditions">
            <input type="checkbox" checked="checked"/>
            <p>Remember me</p>
          </div>
          <div class="button-submit">
            <input class="input-button" type="Submit" value="Log in" />
          </div>
          <div class="text">
            <p>You don't have an account? <a href="/register">Register</a></p>
          </div>
        </form>
      </div>
    </main>
    <!-- Bootom Nav -->
    <%- include('../partials/bottomNav') %> 
    <!-- Footer -->
    <%- include('../partials/footer') %> 
  </body>
</html>