<!-- head -->
<%- include('../partials/head') %> 
  <body>
    <!-- header -->
    <%- include('../partials/header') %> 
    <main class="main-login">
      <div class="register">
        <h2>Welcome</h2>
        <h4>Login</h4>
        <form action="/action_page.php" method="post">
          <div class="userinput">
            <input type="text" placeholder="Enter your e-mail" required />
            <i class="uil uil-user" id="icon1"></i>
          </div>
          <div class="userinput">
            <input type="password" placeholder="Enter your password" required />
            <i class="uil uil-lock icon" id="icon2"></i>
            <i class="uil uil-eye-slash showHidePw" id="icon5"></i>
          </div>
          <div class="conditions">
            <input type="checkbox" checked="checked"/>
            <h3>Remember me</h3>
          </div>
          <div class="userinput button">
            <input type="Submit" value="Log in" />
          </div>
          <div class="text">
            <h3>You don't have an account? <a href="/register">Register</a></h3>
          </div>
        </form>
      </div>
    </main>
    <!-- Bootom Nav -->
    <%- include('../partials/bottomNav') %> 
    <!-- Footer -->
    <%- include('../partials/footer') %> 
  </body>
</html>