<!-- heade -->
<%- include('../partials/head') %>

  <body>
    <!-- header -->
    <%- include('../partials/header') %>
      <main class="main-form">
        <div class="container-form">
          <div class="text-title">
            <h2>Welcome</h2>
            <p>Register</p>
          </div>
          <form class="form-inputs" action="/action_page.php" method="post">
            <div class="datauser__register">
              <div class="userinput">
                <input type="text" name="" id="" placeholder="Name">
                <i class="uil uil-user icon1"></i>
              </div>
              <div class="userinput">
                <input type="text" placeholder="Lastname">
                <i class="uil uil-user icon1"></i>
              </div>
              <div class="userinput">
                <input type="text" placeholder="Address">
                <i class="uil uil-location-point"></i>
              </div>
              <div class="userinput">
                <input type="number" placeholder="cel:">
                <i class="uil uil-phone"></i>
              </div>
            </div>
            <div class="userinput">
              <input type="text" placeholder="Enter your email" required>
              <i class="uil uil-envelope icon icon2"></i>
            </div>
            <div class="userinput">
              <input type="password" placeholder="Create password" required>
              <i class="uil uil-lock icon icon3"></i>
            </div>
            <div class="userinput">
              <input type="password" placeholder="Confirm password" required>
              <i class="uil uil-lock icon icon4"></i>
              <i class="uil uil-eye-slash showHidePw icon5"></i>
            </div>
            <div class="conditions">
              <input type="checkbox" />
              <p>I accept all terms and conditions</p>
            </div>
            <div class="userinput button-submit">
              <input class="input-button" type="Submit" value="Register Now">
            </div>
            <div class="text">
              <p>Already have an account? <a href="/login">Login</a></p>
            </div>
          </form>
          <p class="conditions-register">
            By registering to IT Land you agree to our terms and conditions and agree to our policies of comunication.
          </p>
        </div>
      </main>
      <!-- Bottom NAv -->
      <%- include('../partials/bottomNav') %>
        <!-- Footer -->
        <%- include('../partials/footer') %>
  </body>

  </html>